<!-- Это файл с версткой главной страницы. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GelioGeos</title>

    {% load static %}
    <link rel='stylesheet' href="{% static 'opv_main/css/index.css' %}">
</head>

<body>
    <div id="main-wrapper">
        <h1 id="opv-h1">GelioGeos</h1>
        <a id="two-d-a" href="2d">Ovation Prime 2D Визуализатор</a>
        <a id="three-d-a" href="3d">Ovation Prime 3D Визуализатор</a>
        <!--    <p style="margin-left: 60px;"><a href="earth_magnetic_field">IMAGE Визуализатор</a></p>-->
    </div>
</body>

</html>